<div class="xd-atlas learn-theme">

<header class="xd-page-header xd-atlas-header">

	<div class="row">
		<div class="large-4 columns hide-for-small">

			<img retina-src="/images/atlas-learn.png" alt="learnDiscovery">

		</div>
		<div class="small-12 large-8 columns">

			<div class="row">
				<div class="small-12 large-10 columns xd-atlas-col-search-input">
					<input class="xd-atlas-search-input" type="text" select2 ng-model="search.query" style="width:100%">
				</div>
				<div class="large-2 columns hide-for-small xd-atlas-col-search-button">
					<button type="button" class="postfix radius button search-button xd-atlas-search-button" ng-click="search.search()">Search</button>
				</div>
			</div>

		</div>
	</div>

</header>

<dl class="centered sub-nav">
	<dd ng-class="{ 'active':search.ordering=='-date_created' }">
		<a href="" ng-click="search.toggleOrdering('-date_created')">Recent</a></dd>
	<dd ng-class="{ 'active':search.ordering=='-popular' }">
		<a href="" ng-click="search.toggleOrdering('-popular')">Popular</a></dd>
	<dd ng-class="{ 'active':search.featured }">
		<a href="" ng-click="search.toggleFeatured()">Featured</a></dd>
</dl>

<section class="xd-page-content xd-atlas-content">

	<img ng-if="false" class="xd-atlas-emotional-bg" src="http://placehold.it/200" alt="">

	<div class="row">
		<div class="small-12 columns">

		<div class="xd-map-wall" masonry="{ columnWidth: '.grid-sizer' }" ng-cloak>
			<div class="grid-sizer"></div>

			<div masonry-brick ng-repeat="map in search.results.map track by map.id">
				<article class="xd-map-wall-card">
					<a ng-href="/graph/{{map.id}}" target="_self"><img ng-src="{{map.thumbnail.url}}" masonry-layout-on="map.thumbnail.url" class="image" alt=""></a>

					<header class="content">
						<h2 class="title" ng-switch="!!map.title">
							<a ng-href="/graph/{{map.id}}" ng-switch-when="true" ng-bind="map.title" class="custom-title" target="_self"></a>
							<a ng-href="/graph/{{map.id}}" ng-switch-default class="node-title" target="_self">
								<span class="sep">from</span>
								<span ng-bind="map.nodeTitles.start[0]">&ndash;</span>
								<span class="sep">to</span>
								<span ng-bind="map.nodeTitles.last">&ndash;</span>
							</a>
						</h2>
						<div class="meta" ng-if="map.authorName">by <span class="author" ng-bind-template="{{map.author.name}} {{map.author.surname}}">&ndash;</span></div>
					</header>

					<dl class="centered sub-nav" masonry-layout-on="contentTab">
						<dd>
							<a href="" ng-click="map.voteUp()" class="vote-button vote-up">up</a>
							<a href="" ng-click="map.voteDown()" class="vote-button vote-down">down</a>
						</dd>
						<dd ng-class="{ 'active':!contentTab }"><a href="" ng-click="contentTab=null">About</a></dd>
						<dd ng-class="{ 'active':contentTab=='share' }"><a href="" ng-click="contentTab='share'">Share</a></dd>
					</dl>

					<div class="tabbed content" ng-switch="contentTab">
						<p ng-switch-default ng-init="nodes = (map.nodeTitles.start|limitTo:6)">
							<span ng-repeat="node in nodes track by $index" ng-bind-template="{{node}}{{$middle&&' | '||' '}}"></span>
							<span ng-if="nodes.length < map.node_count">
								<span class="sep">and other</span>
								<span ng-bind-template="#{{map.node_count - nodes.length}}"></span>
								<span class="sep">topics.</span>
							</span>
						</p>
						<p ng-switch-when="share">
							share widgets here
						</p>
					</div>

					<div class="flipside content" ng-bind="map.description">
					</div>

					<footer class="content social-footer">
						social widgets
					</footer>
				</article>
			</div>

		</div>
		<div class="loading" ng-if="search.results.next" in-view="$inview&&search.results.loadMore()"></div>

	</div><!-- .small-12.columns -->
	</div><!-- .row -->

</section>

</div><!-- .xd-atlas -->