<div class="xd-atlas learn-theme">

<header class="xd-page-header xd-atlas-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 hidden-xs">

				Learn Discovery

			</div>
			<div class="col-sm-8 col-xs-12">

				<div class="row">
					<div class="col-sm-10 col-xs-12 xd-atlas-col-search-input">
						<input class="xd-atlas-search-input" type="text" select2 ng-model="select2" style="width:100%">
					</div>
					<div class="col-sm-2 hidden-xs xd-atlas-col-search-button">
						<button type="button" class="btn btn-default xd-atlas-search-button">Search</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>

<ul class="nav nav-line">
	<li><a href="#">Recent</a></li>
	<li class="active"><a href="#">Popular</a></li>
	<li><a href="#">Featured</a></li>
</ul>

<section class="xd-page-content xd-atlas-content">

	<img class="xd-atlas-emotional-bg" src="http://placehold.it/200" alt="">

	<div class="container">

		<div class="xd-map-wall" masonry="{ columnWidth: '.grid-sizer' }">
			<div class="grid-sizer"></div>

			<div masonry-brick>
				<article class="xd-map-wall-card">
					map1
				</article>
			</div>

			<div masonry-brick>
				<article class="xd-map-wall-card">
					<img src="http://placehold.it/200x300" class="image" alt="">

					<header class="content">
						<h2 class="title">A title</h2>
						<div class="meta">by <span class="author">Author Name</span></div>
					</header>

					<ul class="nav nav-line">
						<li class="active"><a href="#">About</a></li>
						<li><a href="#">Share</a></li>
					</ul>

					<div class="content">
						<p>Tiger| Bengali Tiger | Puma| Faelix | Another type of Tiger| Syberian tiger and other #28 topics.</p>
					</div>

					<div class="flipside content">
						<p>This a short description of the map when present.</p>
						<p>Descriptions are visible on mouseover.</p>
						<p>Descriptions are  currently available only on featured maps, the exaustive maps selected by XD. Featured maps are also result for a query for a given topic. A too long description is currently  shortened by [...]; later on it may be paginated within the box either external tooltip when clicking on description icon.</p>
					</div>
				</article>
			</div>

			<div masonry-brick>
				<article class="xd-map-wall-card">
					map2
				</article>
			</div>

			<div masonry-brick>
				<article class="xd-map-wall-card">
					map3
				</article>
			</div>

		</div>

	</div>
</section>

</div><!-- .xd-atlas -->