{% extends "frontend/index.html" %}
{% load cms_tags menu_tags %}
{% block content %}
<header class="xd-page-header xd-custom-page-header">

	<div class="header-content">
		<div class="row">
			<div class="small-12 columns">
				<img src="{{ STATIC_URL }}frontend/images/xdiscovery-logo.svg">
			</div>
		</div>
	</div>
	<div class="header-secondary">
		<div class="row">
			<div class="small-12 columns">
				<ul class="breadcrumbs">
                                    {% show_breadcrumb 1 %}
				</ul>
			</div>
		</div>
	</div>
        {% placeholder carousel %}
</header>
<div class="row">
	<div class="small-12 large-12 columns">

		<div id="page-accordion" xd-accordion active-section="activeSect">
			<section xd-accordion-section="what-we-do">
                            {% comment %}TODO: add page title in print only{% endcomment %}
				<div xd-accordion-content>

					<div class="row">
						<div class="small-12 large-8 large-centered columns">
							<h2 style="text-align:center">{% placeholder abstract %}</h2>
						</div>
					</div>

					<div class="row">
                                            {% placeholder box %}
					</div>

				</div>
			</section>

		</div>
	</div>
</div>
{% endblock %}
