html, body {
	width: 100%;
	height: 100%;
}

#page,
#page > .inner-wrap,
#page-content {
	min-height: 100%;
	height: 100%;
}

#page-content > div {
	height: 100%;
	overflow: auto;
}

@media #{$small} {
	#page,
	#page > .inner-wrap,
	#page-content {
		height: auto;
	}
	#page-content > div {
		height: auto;
	}
}

#page.fill {
	height: 100%;

	> .inner-wrap {
		height: 100%;
	}

	#page-content {
		margin-top: 0;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
}

@media #{$small} {
	#page-content {
		margin-top: $topbar-height;

		#page.fill & {
			padding-top: $topbar-height;
		}
	}
}

svg {
	// Firefox fix for vivagraph
  overflow: visible !important;
}

// Off canvas
#off-canvas-button {
	background: $primary-color;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	height: 52px;
	width: 44px;

	> span {
		box-shadow: 0 10px 0 1px $topbar-menu-link-color, 0 16px 0 1px $topbar-menu-link-color, 0 22px 0 1px $topbar-menu-link-color;
	}

	.fixed-mobile-menu & {
		position: fixed;
	}
}

.left-off-canvas-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		&.separator {
			background: black;
			color: white;
			text-transform: uppercase;
			font-size: 0.7em;
			padding: 0 10px;
			border-bottom: 1px solid $gray;
		}

		&.active {
			border-left: 4px solid $primary-color;
		}

		a {
			display: block;
			color: white;
			padding: 10px 20px;
			border-bottom: 1px solid $gray;
		}
	}
}

// Disable off canvas menu for non-small screens
@media #{$small} {
	.move-right > .inner-wrap {
		@include transform(none);
	}
}

// Buttons
.button, button {
	outline: none;
}

.button.invisible,
button.invisible {
	@include box-shadow(none);
	background: transparent;
	border: none;
}

.close-button {
	background: url(../images/close-button.svg) no-repeat center center;
	width: 20px;
	height: 20px;
	display: block;
	overflow: hidden;
	text-indent: -2000px;

	position: absolute;
	right: 0;
	margin: 1em;
	z-index: 1;
}

.vote-button {
	background: url(../images/vote-icons.svg) no-repeat 0 0;
	background-size: auto 40px;
	width: 20px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	text-indent: -2000px;

	&.vote-down {
		margin-left: 10px;
		background-position: -20px 0;
	}

	&.selected {
		background-position-y: -20px;
	}
}

.social-button {
	width: 75px;
	height: 75px;
	background-size: cover;
	display: block;
	overflow: hidden;

	&.small {
		width: 40px;
		height: 40px;
	}

	&.facebook {
		background-image: url(../images/social-icon-facebook.png);
	}

	&.twitter {
		background-image: url(../images/social-icon-twitter.png);
	}

	&.google-plus {
		background-image: url(../images/social-icon-google-plus.png);
	}

	&.linkedin {
		background-image: url(../images/social-icon-linkedin.png);
	}
}

// Foundation Top Bar changes
.top-bar-section ul li.active > a {
	position: relative;
	font-weight: bold;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $primary-color;
	}
}

// Foundation sub-nav changes
.centered.sub-nav {
	text-align: center;

	dd {
		display: inline-block;
		float: none;
		margin-left: .6em;
		margin-right: .6em;
	}
}