.loading {
	position: relative;
	margin: $column-gutter 0;
	background: url(../images/loading.gif) no-repeat center center;
	background-size: 36px;
	min-height: 36px;
	min-width: 36px;
}

//
// Site
//

.xd-site-footer {
	background: $footer-bg;

	h4 {
		color: $primary-color;
		margin-bottom: 1em;
	}

	a {
		color: $body-font-color;
		font-weight: 300;
	}

	.legals {
		background: $body-font-color;
		color: $body-bg;

		a {
			color: $body-bg;
		}
	}
}

//
// Page
//

.xd-page-header {
	background: $gray-lighter;
	padding: 1em 0;
	margin-bottom: $column-gutter;

	input {
		height: auto;
	}

	.search-button {
		margin: 0;
	}

	.back-button {
		-webkit-mask: url(../images/xd-header-back-arrow.svg) no-repeat center center;
		-o-mask: url(../images/xd-header-back-arrow.svg) no-repeat center center;
		-ms-mask: url(../images/xd-header-back-arrow.svg) no-repeat center center;
		min-width: 32px;
		min-height: 32px;
		display: inline-block;
		background: $primary-color;
	}

	.info-button,
	.share-button {
		-webkit-mask: url(../images/info-button.svg) no-repeat center center;
		-o-mask: url(../images/info-button.svg) no-repeat center center;
		-ms-mask: url(../images/info-button.svg) no-repeat center center;
		-webkit-mask-size: cover;
		-o-mask-size: cover;
		-ms-mask-size: cover;
		min-width: 28px;
		min-height: 28px;
		display: inline-block;
		background: $body-font-color;

		&:hover {
			background: $primary-color;
		}
	}

	.share-button {
		-webkit-mask-image: url(../images/share-button.svg);
		-o-mask-image: url(../images/share-button.svg);
		-ms-mask-image: url(../images/share-button.svg);
	}
}

.xd-page-content {
	background: #f5f5f5 url(../images/xd-page-bg.jpg);
	padding-top: $column-gutter;
	padding-bottom: $column-gutter;
	overflow: hidden;
	position: relative;

	&:after {
		@include box-shadow($gray 0px 0px 5px);
		content: '';
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 1px;
	}
}

//
// Map Wall
//
.xd-map-wall {
	margin: 0 (-$column-gutter/2) (-$column-gutter/2);

	.grid-sizer,
	.masonry-brick {
		width: 100%;

		@media #{$small} {
			width: 50%;
		}

		@media #{$medium} {
			width: 33.333%;
		}

		@media #{$large} {
			width: 25%;
		}
	}

	.masonry-brick {
		padding: 0 ($column-gutter/2) ($column-gutter/2);
	}

}

.xd-map-wall-card {
	@include border-radius($global-radius);
	@include box-shadow($gray-light 0px 0px 5px);
	background: white;
	border: 1px solid $gray-light;
	overflow: hidden;
	position: relative;

	.image {
		display: block;
		width: 100%;
	}

	.title {
		margin-top: 0;
		text-align: center;

		> a {
			color: inherit;
			text-decoration: none;
		}

		.sep {
			font-size: 0.5em;
		}

		.custom-title {
			&:before { content: '“'; }
			&:after { content: '”'; }
		}
	}

	.meta {
		text-align: center;
	}

	.content {
		padding: 1.5em;

		&.tabbed {
			border-top: 1px solid $gray-light;
		}

		.sep {
			color: $gray-light;
		}
	}

	.social-footer {
		background: $gray-dark;
		color: white;
		padding-bottom: .5em;
		padding-top: .5em;
		text-align: center;
	}

	.flipside {
		display: none;
		background: $gray-lighter;
		color: white;
		position: absolute;
		top: 0; left: 0; width: 100%; height: 100%;
	}
}

//
// Atlas
//

// Search bar
.xd-atlas-search-button {
	width: 100%;
}

@media #{$small} {
	.xd-atlas-col-search-input {
		padding-right: 0;
	}

	.xd-atlas-col-search-button {
		padding-left: 0;
	}
}

.xd-atlas-emotional-bg {
	position: absolute;
	top: 0; left: 0; width: 100%; height: auto;

}

//
// Graph
//
.xd-graph-page-header {
	margin-bottom: 0;
	padding: 8px 8px 0;
	overflow: auto;
	vertical-align: middle;

	.title {
		margin: 0;
		display: inline-block;
		font-size: 2em;
		font-weight: 300;
		position: relative;
		top: -4px;

		.sep {
			font-size: 0.5em;
		}
	}
}

.xd-graph-tools {
	margin: 0;
}

.viva-graph {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.viva-graph-detail-pane {
	background: $body-bg;
	position: absolute;
	top: 0; right: 0; height: 100%;
	width: 200px;
	margin-top: $topbar-height;
}
