.pace .pace-progress {
	background: #12af83;
}

$learn-theme-color: #428bca;

.learn-theme {
	.xd-atlas-header {
		background: lighten($learn-theme-color, 45%); //#f5f9fa;
	}

	.sub-nav dd.active a {
		background: $learn-theme-color;
	}

	.xd-map-wall-card.featured {
		@include box-shadow($learn-theme-color 0px 0px 5px);
		border-color: $learn-theme-color;
	}
}
