@import "settings";
@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-customization";
@import "compass";

// stile atlas si ripete per altre pagine
// Hover mappa nasconde share
// chiarimenti plugin per mappe/demo (jquery)
// iframe per embedding (da valutare per preventivo)
// passaggio a mobile (top bar)

$screen: "only screen";
$xsmall: "only screen and (min-width: #{$screen-xs})";
$small: "only screen and (min-width: #{$screen-sm})";
$medium: "only screen and (min-width: #{$screen-md})";
$large: "only screen and (min-width: #{$screen-lg})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

@import "modules";
@import "themes";