<!-- @if ENV='dist' -->{% load cms_tags %}{% if not request.GET.angular %}<!-- @endif -->
<!doctype html>
<!--[if lt IE 7]>      <html ng-app="xdiscoveryApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="xdiscoveryApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="xdiscoveryApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="xdiscoveryApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind-template="xDiscovery &ndash; {{documentTitle}}"><!-- @if ENV='dist' -->{% page_attribute "title" %}<!-- @endif --></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	<!-- build:css({.tmp,app}) /styles/main.css -->
	<link rel="stylesheet" href="/bower_components/select2/select2.css">
	<link rel="stylesheet" href="/bower_components/pace/themes/pace-theme-minimal.css">
	<link rel="stylesheet" href="/styles/main.css">
	<!-- endbuild -->
				<!-- @if ENV='dist' -->
	{% block extrahead %}{% endblock %}
				<!-- @endif -->
</head>
	<body ng-controller="siteCtrl">
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="/bower_components/es5-shim/es5-shim.js"></script>
			<script src="/bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186960618160957";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div id="page" class="off-canvas-wrap" ng-class="site.pageClasses">
			<div class="inner-wrap">

				<!-- @if ENV='dist' -->
				{% include "xdw_web/navbar.html" %}
				<!-- @endif -->

				<!-- @if ENV!='dist' -->
				<aside class="left-off-canvas-menu">
					<ul>
						<li class="separator">Section title</li>
						<li ng-class="{'active': mainMenu.isCurrent('/en/blog')}"><a href="/en/blog">home</a></li>
						<li ng-class="{'active': mainMenu.isCurrent('/en/atlas')}"><a href="/en/atlas">atlas</a></li>
					</ul>
		    </aside>
		    <a id="off-canvas-button" href="" ng-click="site.toggleOffCanvas()" class="menu-icon show-for-small"><span></span></a>

				<header role="banner" class="xd-site-header hide-for-small">

					<div class="fixed">
						<nav class="top-bar" role="navigation" ng-class="{ 'expanded':!mainMenu.collapsed }">
							<ul class="title-area show-for-small">
								<li class="name">
									<h1><a href="/">xDiscovery</a></h1>
								</li>
								<li class="toggle-topbar menu-icon"><a href="" ng-click="mainMenu.collapsed = !mainMenu.collapsed"><span></span></a></li>
							</ul>
							<section class="top-bar-section">
								<ul class="right">
									<li ng-class="{'active': mainMenu.isCurrent('/en/blog')}"><a href="/en/blog">home</a></li>
									<li ng-class="{'active': mainMenu.isCurrent('/en/atlas')}"><a href="/en/atlas">atlas</a></li>
								</ul>
							</section>
						</nav>
					</div>

				</header>
				<!-- @endif -->

				<section id="page-content" role="main">
					<div ng-view ng-cloak>
						<!-- @if ENV='dist' -->
						{% comment %}This condition splits the whole page
						in two parts, so that when angular loads it only the
						`content` block is rendered{% endcomment %}
						{% endif %}
						{% block content %}{% endblock %}
						{% if not request.GET.angular %}
						<!-- @endif -->
					</div>
				</section>

				<footer class="xd-site-footer" ng-cloak ng-hide="site.hideFooter">
					<div class="row">
						<div class="small-12 large-3 columns">
							<h4>Company</h4>
							<p><a href="">Who we are</a></p>
							<p><a href="">What we do</a></p>
							<p><a href="">Why we do it</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Services</h4>
							<p><a href="">Discovery vs Search</a></p>
							<p><a href="">Discovery Engine for Business</a></p>
							<p><a href="">Portable Discovery Engine</a></p>
							<p><a href="">The Atlas Project</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Atlas</h4>
							<p><a href="">Learn Discovery Atlas</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Contacts</h4>
							<p><a href="">Contact Us</a></p>
							<p><a href="">Facebook</a></p>
							<p><a href="">Twitter</a></p>
						</div>
					</div>

					<div class="legals">
						<div class="row">
							<div class="small-12 columns">
								<ul class="right inline-list">
									<li><a href="">Term of Service</a></li>
									<li><a href="">Patent Pending</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>

			</div><!-- .inner-wrap -->
		</div><!-- .off-canvas-wrap -->

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		 <script>
			 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			 ga('create', 'UA-XXXXX-X');
			 ga('send', 'pageview');
		</script>

		<!-- build:js /scripts/vendor.js -->
		<script src="/bower_components/jquery/jquery.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<!-- endbuild -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.0.0/masonry.pkgd.js"></script>

		<!-- build:js /scripts/plugins.js -->
		<script src="/bower_components/pace/pace.js"></script>
		<script src="/bower_components/hammerjs/hammer.js"></script>
		<script src="/bower_components/jquery-hammerjs/jquery.hammer.js"></script>
		<script src="/bower_components/select2/select2.js"></script>
		<script src="/bower_components/vivagraph/dist/vivagraph.js"></script>
		<!-- endbuild -->

		<!-- build:js /scripts/modules.js -->
		<script src="/bower_components/angular-route/angular-route.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/angular-resource/angular-resource.js"></script>
		<script src="/bower_components/angular-touch/angular-touch.js"></script>
		<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="/bower_components/angular-inview/angular-inview.js"></script>
		<script src="/scripts/directives/angular-carousel.js"></script>
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) /scripts/scripts.js -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/controllers/site.js"></script>
		<script src="/scripts/controllers/atlas.js"></script>
		<script src="/scripts/controllers/graph.js"></script>
		<script src="/scripts/controllers/custompage.js"></script>
		<script src="/scripts/directives/masonry.js"></script>
		<script src="/scripts/directives/vivaGraph.js"></script>
		<script src="/scripts/directives/xdAccordion.js"></script>
		<script src="/scripts/directives/tagList.js"></script>
		<script src="/scripts/directives/rewriteRelativeLinks.js"></script>
		<script src="/scripts/services/xDiscoveryApi.js"></script>
		<script src="/scripts/services/wikipediaApi.js"></script>
		<!-- endbuild -->

		<script type="text/javascript">
		angular.module('xdiscoveryApp').constant('config', {
			apiUrl: '/api-atlas',
			customPageRoutes: {
			<!-- @if ENV='dist' -->
				 {% include "xdw_web/routes.html" %}
			<!-- @endif -->
			<!-- @if ENV!='dist' -->
				'/en/blog': '/en/blog?angular=1',
				'/en/mobile': '/en/mobile?angular=1',
				'/en/': '/en/?angular=1',
				'/en/static': {
					contentUrl: '/internal.html',
					showHeader: true,
					breadcrumbs: [
						{ title: 'Home', href: '#' },
						{ title: 'Features', href: '#' },
						{ title: 'Gene Splicing', href: '#', unavailable: true },
						{ title: 'Cloning', href: '#', current: true }
					]
				}
			<!-- @endif -->
			}
		});
		</script>
</body>
</html><!-- @if ENV='dist' -->{% endif %}<!-- @endif -->
