<div class="xd-atlas learn-theme">

<header class="xd-page-header xd-atlas-header">

	<div class="row">
		<div class="small-2 medium-4 large-4 columns">

			<img src="{{ STATIC_URL }}frontend/images/atlas-learn.svg" alt="learnDiscovery" class="hide-for-small">

		</div>
		<div class="small-10 medium-8 large-8 columns">

			<div class="row">
				<div class="small-10 columns xd-atlas-col-search-input">
					<input class="xd-atlas-search-input" type="text" tag-list="" ng-model="search.query" on-submit="search.search()" style="width:100%">
				</div>
				<div class="small-2 columns xd-atlas-col-search-button">
					<button type="button" class="postfix radius button search-button xd-atlas-search-button" ng-click="search.search()"><span class="ion-search"></span></button>
				</div>
			</div>

		</div>
	</div>

</header>

<dl class="centered sub-nav">
	<dd ng-class="{ 'active':search.ordering=='-date_created' }">
		<a href="" ng-click="search.toggleOrdering('-date_created')">Recent</a></dd>
	<dd ng-class="{ 'active':search.ordering=='-popular' }">
		<a href="" ng-click="search.toggleOrdering('-popular')">Popular</a></dd>
	<dd ng-class="{ 'active':search.featured }">
		<a href="" ng-click="search.toggleFeatured()">Featured</a></dd>
</dl>

<section class="xd-page-content xd-atlas-content">

	<img ng-if="false" class="xd-atlas-emotional-bg" src="http://placehold.it/200" alt="">

	<div class="row">
		<div class="small-12 columns">

		<div class="xd-map-wall" masonry="{ columnWidth: '.grid-sizer' }" ng-cloak="">
			<div class="grid-sizer"></div>

			<div masonry-brick="" ng-repeat="map in search.results.map track by map.id">
				<article class="xd-map-wall-card">
					<a ng-href="/graph/{% verbatim %}{{map.id}}{% endverbatim %}" target="_self"><img ng-src="{% verbatim %}{{map.thumbnail.url}}{% endverbatim %}" masonry-layout-on="map.thumbnail.url" class="image" alt=""></a>

					<header class="content">
						<h2 class="title" ng-switch="!!map.title">
							<a ng-href="/graph/{% verbatim %}{{map.id}}{% endverbatim %}" ng-switch-when="true" ng-bind="map.title" class="custom-title" target="_self"></a>
							<a ng-href="/graph/{% verbatim %}{{map.id}}{% endverbatim %}" ng-switch-default="" class="node-title" target="_self">
								<span class="sep">from</span>
								<span ng-bind="map.nodeTitles.start[0]">&ndash;</span>
								<br>
								<span class="sep">to</span>
								<span ng-bind="map.nodeTitles.last">&ndash;</span>
							</a>
						</h2>
						<div class="meta" ng-if="map.authorName">by <span class="author" ng-bind-template="{% verbatim %}{{map.author.name}}{% endverbatim %} {% verbatim %}{{map.author.surname}}{% endverbatim %}">&ndash;</span></div>
					</header>

					<dl class="centered sub-nav" masonry-layout-on="contentTab">
						<dd ng-class="{ 'active':!contentTab }"><a href="" ng-click="contentTab=null">About</a></dd>
						<dd ng-class="{ 'active':contentTab=='share' }"><a href="" ng-click="contentTab='share'">Share</a></dd>
						<dd ng-class="{ 'active':contentTab=='description' }"><a href="" ng-click="contentTab='description'" ng-show="!!map.description">Description</a></dd>
					</dl>

					<div class="tabbed content" ng-switch="contentTab">
						<div ng-switch-default="" ng-init="nodes = (map.nodeTitles.start|limitTo:6)">
							<p>
								<span ng-repeat="node in nodes track by $index" ng-bind-template="{% verbatim %}{{node}}{% endverbatim %}{% verbatim %}{{$middle&&' | '||' '}}{% endverbatim %}"></span>
								<span ng-if="nodes.length < map.node_count">
									<span class="sep">and other</span>
									<span ng-bind-template="#{% verbatim %}{{map.node_count - nodes.length}}{% endverbatim %}"></span>
									<span class="sep">topics.</span>
								</span>
							</p>
						</div>
						<div ng-switch-when="share">
							<ul class="inline-list social-buttons-list">
								<li><a ng-href="{% verbatim %}{{map.getFacebookUrl()}}{% endverbatim %}" target="_blank" class="social-button small facebook"></a></li>
								<li><a ng-href="{% verbatim %}{{map.getGplusUrl()}}{% endverbatim %}" target="_blank" class="social-button small google-plus"></a></li>
								<li><a ng-href="{% verbatim %}{{map.getTwitterUrl()}}{% endverbatim %}" target="_blank" class="social-button small twitter"></a></li>
							</ul>
							<input type="text" value="{% verbatim %}{{map.url}}{% endverbatim %}" readonly="readonly" onclick="this.select()" style="text-align:center">
						</div>
						<div ng-switch-when="description">
							<p ng-bind="map.description"></p>
						</div>
					</div>

					<div class="flipside content" ng-bind="map.description">
					</div>
				</article>
			</div>

		</div>
		<div class="loading" ng-if="search.results.next" in-view="$inview&&search.results.loadMore()"></div>
		<div class="xd-map-wall-nothing-found" ng-if="!search.results.map.length">
			<p style="font-size:1.3em">
				No restuls for
				<span ng-repeat="q in search.lastQuery" ng-bind="q" class="term"></span>
			</p>
			<p>You may want to Make &amp; Share your maps with LearnDiscovery mobile.</p>
			<img src="{{ STATIC_URL }}frontend/images/nothing-found.svg" alt="" width="320">
		</div>

	</div><!-- .small-12.columns -->
	</div><!-- .row -->

</section>

</div><!-- .xd-atlas -->