<header class="xd-page-header xd-graph-page-header">

	<a class="back-button" href="/en/atlas"></a>

	<h1 class="title" ng-switch="!!map.title" ng-cloak="">
		<span ng-switch-when="true" ng-bind="map.title" class="custom-title"></span>
		<span ng-switch-default="" class="node-title">
			<span class="sep">from</span>
			<span ng-bind="map.startNode.title">&ndash;</span>
			<span class="sep">to</span>
			<span ng-bind="map.endNode.title">&ndash;</span>
		</span>
	</h1>

	<ul class="right inline-list xd-graph-buttons">
		<li>
			<div class="fb-like" data-href="{% verbatim %}{{map.url}}{% endverbatim %}" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
		</li>
		<li><a href="" class="share-button" ng-click="shouldShowSharePane = !shouldShowSharePane"></a></li>
	</ul>

</header>

<div viva-graph="" name="{% verbatim %}{{map.name}}{% endverbatim %}" links="map.visibleLinks" layout="vivagraph.layout($graph)" graphics="vivagraph.graphics()" on-create="vivagraph.initialize($graph)" pause-render="vivagraph.pauseRender" zoom="vivagraph.zoomLevel"></div>

<div class="xd-graph-tooltip tooltip" ng-style="{ 'display':(vivagraph.highlighted.node&&'block'||'none'), left:(vivagraph.highlighted.boundingRect.left + vivagraph.highlighted.boundingRect.width / 2 - 10)+'px', top:(vivagraph.highlighted.boundingRect.bottom - 10)+'px' }">
	<div class="nub"></div>
	<div class="extract" ng-bind-html="vivagraph.highlighted.info.extract"></div>
	<p class="more-message">Double-click for more</p>
</div>

<div class="xd-graph-excerpt" ng-if="vivagraph.spotted.node" ng-class="{ 'has-banner':!site.hideBanner, 'has-detail-pane':vivagraph.selected.showDetails }" ng-click="vivagraph.selected = vivagraph.spotted; vivagraph.selected.showDetails = true">
	<span class="selected-marker"></span>
	<div class="extract" ng-bind-html="vivagraph.spotted.info.extract"></div>
	<p class="more-message">Source Wikipedia.org</p>
</div>

<div class="xd-graph-zoom-tool" ng-class="{ 'has-banner':!site.hideBanner, 'has-detail-pane':!!vivagraph.selected.showDetails, 'has-excerpt':!!vivagraph.spotted.node }">
	<button class="button secondary xd-grpah-zoom-button in" ng-click="vivagraph.zoomLevel = vivagraph.zoomLevel + 1">+</button>
	<button class="button secondary xd-grpah-zoom-button out" ng-click="vivagraph.zoomLevel = vivagraph.zoomLevel - 1">&ndash;</button>
</div>

<section class="viva-graph-detail-pane" ng-if="vivagraph.selected.showDetails">
	<a href="" ng-click="vivagraph.selected.showDetails = no" class="close-button"></a>
	<div class="content row">
		<div class="small-12 columns">

			<h2 ng-bind="vivagraph.selected.info.title">&ndash;</h2>

			<dl class="sub-nav">
				<dd ng-class="{ 'active':!vivagraph.selected.tab }">
					<a href="" ng-click="vivagraph.selected.tab = null">Topic</a></dd>
				<dd ng-class="{ 'active':vivagraph.selected.tab=='external' }">
					<a href="" ng-click="vivagraph.selected.tab = 'external'">Video</a></dd>
			</dl>

			<div class="tabbed content" ng-switch="vivagraph.selected.tab">
				<div ng-switch-default="" ng-class="'topic'">
					<section ng-repeat="s in vivagraph.selected.info.getContent().sections" ng-bind-html="s.text" rewrite-relative-links="http://www.wikipedia.org/wiki/{% verbatim %}{{vivagraph.selected.info.title}}{% endverbatim %}" links-target="_blank"></section>
					<a ng-href="http://en.wikipedia.org/wiki?curid={% verbatim %}{{vivagraph.selected.node.id}}{% endverbatim %}" target="_blank" style="display:block; text-align:right">More on Wikipedia &rarr;</a>
				</div>
				<div ng-switch-when="external" ng-class="'video'">
					<iframe id="ytplayer" type="text/html" width="100%" height="360" src="{% verbatim %}{{map.getYoutubeSearchUrl(vivagraph.selected.info.title)}}{% endverbatim %}" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="app-banner" ng-if="!site.hideBanner" ng-class="{ 'has-detail-pane':vivagraph.selected.showDetails }">
	<a href="" class="close-button" ng-click="site.hideBanner = true"></a>
	<a href="https://itunes.apple.com/us/app/learndiscovery-discover-map/id859954749?mt=8" style="color:white" target="_blank">The power of knowledge is Portable <span style="color: #00B481">X</span>D</a>
	<a href="https://itunes.apple.com/us/app/learndiscovery-discover-map/id859954749?mt=8" class="right" target="_blank">
		<img src="{{ STATIC_URL }}frontend/images/button-app-store.svg" width="130" alt="Available on the App Store">
	</a>
</section>

<section class="graph-share-pane" ng-show="shouldShowSharePane" ng-click="shouldShowSharePane = false">
	<div class="content row">
		<div class="small-12 large-4 large-centered columns">
			<div class="panel" ng-click="$event.stopPropagation()">
				<a href="" ng-click="shouldShowSharePane = false" class="close-button"></a>
				<h5>Share this Map</h5>
				<h6 class="title" ng-switch="!!map.title" ng-cloak="">
					<span ng-switch-when="true" ng-bind="map.title" class="custom-title"></span>
					<span ng-switch-default="" class="node-title">
						<span class="sep">from</span>
						<span ng-bind="map.startNode.title">&ndash;</span>
						<span class="sep">to</span>
						<span ng-bind="map.endNode.title">&ndash;</span>
					</span>
				</h6>
				<ul class="inline-list">
					<li><a ng-href="{% verbatim %}{{map.getFacebookUrl()}}{% endverbatim %}" target="_blank" class="social-button facebook"></a></li>
					<li><a ng-href="{% verbatim %}{{map.getGplusUrl()}}{% endverbatim %}" target="_blank" class="social-button google-plus"></a></li>
					<li><a ng-href="{% verbatim %}{{map.getTwitterUrl()}}{% endverbatim %}" target="_blank" class="social-button twitter"></a></li>
				</ul>
				<input type="text" value="{% verbatim %}{{map.url}}{% endverbatim %}" readonly="readonly" onclick="this.select()" style="text-align:center">
			</div>
		</div>
	</div>
</section>

<section class="buy-app-popup" ng-if="site.shouldShowBuyAppPopup&&site.showBuyAppPopup">
	<a href="" ng-click="site.shouldShowBuyAppPopup = false" class="close-button"></a>
	<p class="title">This map was created and shared with the Portable Discovery Engine applied to Wikipedia.</p>
	<img src="{{ STATIC_URL }}frontend/images/learn-discovery-logo.svg" alt="Learn xDiscovery" width="50%">
	<p>for iPhone and iPad</p>
	<a href="" target="_blank">
		<img src="{{ STATIC_URL }}frontend/images/button-app-store.svg" width="130" alt="Available on the App Store">
	</a>
	<div style="margin-top:2em">
		<img src="{{ STATIC_URL }}frontend/images/iPhone-5-white.png" alt="">
	</div>
</section>