{% load cms_tags %}{% if carouselcontent_items %}<div class="xd-carousel-container" ng-init="carouselIndex = {{ carouselcontent_active_item_idx }}"{% if instance.background_color %}style="background:{{ instance.background_color }}"{% endif %}>
	<ul rn-carousel rn-carousel-index="carouselIndex"{% if carouselcontent_items|length > 1 %} rn-carousel-indicator{% endif %}>
            {% for item in carouselcontent_items %}
            <li>{% if item.page %}
            <a href="{% page_url item.page %}" class="slogan">{{ item.body | safe }}</a>
            {% else %}
            <div class="slogan">{{ item.body | safe }}</div>
            {% endif %}</li>
            {% endfor %}
	</ul>
        {% if carouselcontent_items|length > 1 %}
	<button
		class="xd-carousel-nav prev hide-for-small"
		ng-click="carouselIndex = carouselIndex - 1"
		ng-disabled="carouselIndex == 0"></button>
	<button
		class="xd-carousel-nav next hide-for-small"
		ng-click="carouselIndex = carouselIndex + 1"
		ng-disabled="carouselIndex == {{ carouselcontent_items|length}} - 1"></button>
        {% endif %}
</div>{% endif %}
