{% load cms_tags %}{% if carouselcontent_items %}<div class="xd-carousel-container" ng-init="carousel.index = {{ carouselcontent_active_item_idx }}"{% if instance.background_color %}style="background:{{ instance.background_color }}"{% endif %}>
	<ul rn-carousel rn-carousel-index="carousel.index"{% if carouselcontent_items|length > 1 %} rn-carousel-indicator{% endif %}>
            {% for item in carouselcontent_items %}
            <li>
            <div class="slogan">{{ item.body | safe }}</div>
            </li>
            {% endfor %}
	</ul>
        {% if carouselcontent_items|length > 1 %}
	<button
		class="xd-carousel-nav prev"
		ng-click="carousel.index = carousel.index - 1"
		ng-disabled="carousel.index == 0"></button>
	<button
		class="xd-carousel-nav next"
		ng-click="carousel.index = carousel.index + 1"
		ng-disabled="carousel.index == {{ carouselcontent_items|length}} - 1"></button>
        {% endif %}
</div>{% endif %}
