<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>XDiscovery - coming soon</title>
	<meta name="description" content="">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}frontend/styles/main.css">
</head>
<body>
<div class="row" style="height: 100px; position: relative; top: 50%; margin-top: -50px;">
  <p class="text-center"><img src="{{ STATIC_URL }}frontend/images/learn-discovery-logo.svg"></p>
  <p class="text-center">Work in progress</p>
</div>
</body>
</html>
