{% load cms_tags menu_tags %}<header class="xd-page-header xd-custom-page-header">
	<div class="header-content">
		<div class="row">
			<div class="large-12 small-10 small-offset-2 large-offset-0 columns">
				<img src="{{ STATIC_URL }}frontend/images/xdiscovery-logo.svg">
			</div>
		</div>
	</div>
	<div class="header-secondary">
		<div class="row">
			<div class="small-12 columns">
				<ul class="breadcrumbs">
                                    {% show_breadcrumb 1 %}
				</ul>
			</div>
		</div>
	</div>
	 {% placeholder carousel %}
</header>
