{% load cms_tags sekizai_tags %}<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="xdiscoveryApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind-template="xDiscovery &ndash; {% verbatim %}{{documentTitle}}{% endverbatim %}">{% block title %}{{ title|default:"XDiscovery" }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">

	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}frontend/styles/main.css">
	{% block extrahead %}{% endblock %}
	{% render_block "css" %}
	<!--[if lte IE 9]>
	<style>
		.left-off-canvas-menu { display:none; }
	</style>
	<![endif]-->
</head>
	<body ng-controller="siteCtrl">
	  {% cms_toolbar %}
		<!--[if lt IE 9]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186960618160957";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div id="page" class="off-canvas-wrap" ng-class="site.pageClasses">
			<div class="inner-wrap">

				{% include "xdw_web/navbar.html" %}
				<section id="page-content" role="main">
					<div ng-view="" ng-cloak="">
						{% block content %}{% endblock %}
					</div>
				</section>

				<footer class="xd-site-footer" ng-cloak="" ng-hide="site.hideFooter">
					<div class="row">
						<div class="small-12 large-3 columns">
							<h4>Company</h4>
							<p><a href="">Who we are</a></p>
							<p><a href="">What we do</a></p>
							<p><a href="">Why we do it</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Services</h4>
							<p><a href="">Discovery vs Search</a></p>
							<p><a href="">Discovery Engine for Business</a></p>
							<p><a href="">Portable Discovery Engine</a></p>
							<p><a href="">The Atlas Project</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Atlas</h4>
							<p><a href="">Learn Discovery Atlas</a></p>
						</div>
						<div class="small-12 large-3 columns">
							<h4>Contacts</h4>
							<p><a href="">Contact Us</a></p>
							<p><a href="">Facebook</a></p>
							<p><a href="">Twitter</a></p>
						</div>
					</div>

					<div class="legals">
						<div class="row">
							<div class="small-12 columns">
								<ul class="right inline-list">
									<li><a href="">Term of Service</a></li>
									<li><a href="">Patent Pending</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>

			</div><!-- .inner-wrap -->
		</div><!-- .off-canvas-wrap -->

		 {% if not 'edit' in request.GET %}
		<script src="{{ STATIC_URL }}frontend/scripts/vendor.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.0.0/masonry.pkgd.js"></script>

		<script src="{{ STATIC_URL }}frontend/scripts/plugins.js"></script>

		<script src="{{ STATIC_URL }}frontend/scripts/modules.js"></script>

		<script src="{{ STATIC_URL }}frontend/scripts/scripts.js"></script>

		<script type="text/javascript">
		angular.module('xdiscoveryApp').constant('config', {
			apiUrl: '/api-atlas',
			customPageRoutes: {
				 {% include "xdw_web/routes.html" %}
			}
		});
		</script>
		 {% endif %}
	{% render_block "js" %}
</body>
</html>