{% load cms_tags sekizai_tags xdw_web_tags %}<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind-template="xDiscovery &ndash; {% verbatim %}{{documentTitle}}{% endverbatim %}">{% block title %}{% page_attribute "page_title" as page_title %}{% if page_title %}{{ page_title }}{% else %}{{ title|default:"XDiscovery" }}{% endif %}{% endblock %}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-itunes-app" content="app-id=859954749">

	

	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}frontend/styles/main.css">
	{% block extrahead %}{% endblock %}
        {% page_attribute "meta_description" as page_meta_description %}
        <meta proprety="description" content="{{ meta.description|default:page_meta_description }}">
        {% for property, content in meta.items %}{% if property != "description" %}<meta property="{{ property }}" content="{{ content }}">{% endif %}
        {% endfor %}
	{% render_block "css" %}
        {% comment %}XXX for Luigi in order to bypass the build system{% endcomment %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}topicView.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}videoView.css">
	{% comment %}<link rel="stylesheet" href="{{ MEDIA_URL }}added.css">{% endcomment %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}custom.css">
	<!--[if lte IE 9]>
	<style>
		.left-off-canvas-menu { display:none; }
	</style>
	<![endif]-->
        {% render_hidden_placeholder "head"  %}
</head>
	<body ng-controller="siteCtrl">
	  {% cms_toolbar %}
		<!--[if lt IE 9]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186960618160957";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div id="page" class="off-canvas-wrap" ng-class="site.pageClasses">
			<div class="inner-wrap">

				{% include "xdw_web/navbar.html" %}
				<section id="page-content" role="main">
					<div ng-view="" ng-cloak="">
	                                        {% placeholder "head" %}
						{% block content %}{% endblock %}
					</div>
				</section>
				<footer class="xd-site-footer" ng-cloak="" ng-hide="site.hideFooter">
							</footer>

			</div><!-- .inner-wrap -->
		</div><!-- .off-canvas-wrap -->

		 {% if 'edit' not in request.GET or not request.user.is_authenticated %}
		<script src="{{ STATIC_URL }}frontend/scripts/vendor.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.0.0/masonry.pkgd.js"></script>

		<script src="{{ STATIC_URL }}frontend/scripts/plugins.js"></script>

		<!--[if gt IE 10]><!-->
		<script src="{{ STATIC_URL }}frontend/scripts/explugins.js"></script>
		<!--<![endif]-->

		<script src="{{ STATIC_URL }}frontend/scripts/modules.js"></script>

		<script src="{{ STATIC_URL }}frontend/scripts/scripts.js"></script>

		<script type="text/javascript">
		angular.module('xdiscoveryApp').constant('config', {
			apiUrl: '/api-atlas',
			customPageRoutes: {
				 {% include "xdw_web/routes.html" %}
			}
		});
		// Bootstrapping
		angular.bootstrap(document, ['xdiscoveryApp']);
		</script>
		 {% endif %}
	{% render_block "js" %}
	<script>
	if (window.jQuery) { 
	//funzione per il search al clik dell invio
    $( document ).ready(function() {
    $( document ).on( "keyup", ".select2-search-field input", function(event) {
      if(event.keyCode == 13){
        angular.element(".xd-atlas-search-button").trigger("ng-click").click()
      }
  });


      });
   }
	</script>
</body>
</html>